<nav class="red" style="padding:0px 10px;">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Web Zone</a>

        <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons">menu</i>
        </a>

        <ul class="right hide-on-med-and-down ">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/stories">Public Stories</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>


<ul class="sidenav" id="mobile-nav">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/stories">Public Stories</a></li>
    <li><a href="/auth/logout">Logout</a></li>
</ul>